<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Email searching system
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Email searching system</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="width: 100%; background-color: aqua; border: solid 2px red; display: flex; flex-direction: column; justify-content: center; align-items: center">
    <p>Search for the emails here</p>
    <ion-input [(ngModel)]="searchterm" placeholder="Search for email content" style="border: 2px solid black; border-radius: 15px; margin: 5px"
               (keydown)="onKeydown($event)">
    </ion-input>
  </div>

  <div id="container">
    <ion-list>
      <ion-item *ngFor="let email of allEmails">
        <ion-label>
          <h2>{{ email.fileId }}</h2>
          <p>{{ email.emailBody }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
